body {
  font-family: sans-serif;
  text-align: center;
}

#keyboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.key-group {
  position: relative;
  width: 60px;
}

.white {
  width: 60px;
  height: 200px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.black {
  width: 40px;
  height: 120px;
  background: black;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 10;
  cursor: pointer;
}

/* 押しているとき */
.key.white.active {
  background: #ffd966;
}

.key.black.active {
  background: #555;
}

.key.black.correct {
  background: #00cc66 !important;
}

.key.black.wrong {
  background: #cc3333 !important;
}

#question {
  font-size: 20px;
  margin: 10px;
}

