body {
  font-family: sans-serif;
  text-align: center;
}

#keyboard {
  display: flex;
  position: relative;
}

.key-group {
  position: relative;
  width: 60px;
}

.white {
  width: 60px;
  height: 200px;
  border: 1px solid black;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.black {
  width: 40px;
  height: 120px;
  background: black;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 10;
}



.black:active {
  background: #444;

}

.key.active {
  background: #ffd966; /* 押したときの色 */
}

