body {
  font-family: sans-serif;
  text-align: center;
}

#keyboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.key-group {
  position: relative;
}

.key.white {
  width: 60px;
  height: 200px;
  border: 1px solid #000;
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.key.black {
  position: absolute;
  top: 0;
  right: -20px;
  width: 40px;
  height: 120px;
  background: black;
  z-index: 1;
  cursor: pointer;
}

/* 押したとき */
.key.white.active {
  background: #ddd;
}

.key.black.active {
  background: #555;
}

/* 正解・不正解 */
.key.white.correct,
.key.black.correct {
  background: #90ee90 !important;
}

.key.white.wrong,
.key.black.wrong {
  background: #ff7f7f !important;
}

#question {
  font-size: 20px;
  margin: 10px;
}

