body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 60px;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}
#keyboard {
  display: flex;
  margin-top: 20px;
}

.key {
  width: 60px;
  height: 200px;
  border: 1px solid #000;
  cursor: pointer;
}

.white {
  background: white;
}
