body {
  font-family: sans-serif;
  text-align: center;
}

#keyboard {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* 鍵盤グループ */
.key-group {
  position: relative;
  width: 60px;   /* ← 白鍵と同じ幅を明示 */
}


/* 共通 */
.key {
  border: 1px solid #000;
  cursor: pointer;
  user-select: none;
}

/* 白鍵 */
.white {
  width: 60px;
  height: 200px;
  background: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.white:active {
  background: #ddd;
}

/* 黒鍵 */
.black {
  width: 40px;
  height: 120px;
  background: black;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 2;
}

.black:active {
  background: #444;
}

